.button {
  padding: 10px 20px;
  background-color: $green;
  width: 176px;
  height: 43px;
  clip-path: polygon(10% 1%, 100% 0, 90% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & p {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }

  &:hover {
    transition: all 0.3s ease-in;
    background-color: darken($green, 15%);

  }
}

.newButton {
  margin-top: 20px;
  color: #fff;
  background-color: $green;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: 0;
  font-size: 1.1rem;
  padding: 12px 35px;
  display: inline-block;
  transform: skew(-21deg);
  border: 1px solid $green;
  width: fit-content;
  transition: .1s ease-in;

  > span {
    display: inline-block;
    font-size: 18px;
    //color: black;
    transform: skew(21deg);
  }

  &:hover {
    background: transparent;
    border: 1px solid $green;
    transition: .1s ease-in;

    > span {
      color: black;
    }
  }
}