.slider {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

  .tns-nav {
    text-align: center;
    margin-top: 35px;
    transform: translate(12px, 0px);

    button {
      height: 15px;
      width: 15px;
      background-color: $green;
      opacity: 0.4;
      border: none;
      border-radius: 50%;

      &:first-child {
        margin-right: 15px;
      }
    }

    .tns-nav-active {
      opacity: 1;
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      position: absolute;
      top: -61px;
      border-radius: 50%;
      border: 1px solid green;
      padding: 8px;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      & img {
        object-fit: contain;
      }

      &:first-child {
        left: 40%;
        transform: translate(50%, 0);
      }

      &:last-child {
        right: 40%;
        transform: translate(50%, 0);
      }

      &:last-of-type {
        transform: rotate(180deg);
      }
    }
  }
}

.slids {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 24px;

  & > span {
    position: absolute;
    top: 50%;
    cursor: pointer;

    &:first-of-type {
      left: 20px;
      @media (min-width: 1259px) {
        left: -80px;
      }
      transform: translateY(-50%);
    }

    &:last-of-type {
      right: 20px;
      @media (min-width: 1259px) {
        right: -80px;
      }
      transform: translateY(-50%) rotate(180deg);
    }

    img {
      object-fit: contain;
    }
  }
}

.slid {
  width: 100%;
  position: relative;
  cursor: pointer;

  img {
    object-fit: cover;
  }

  & > span {
    display: none;
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      object-fit: contain;
    }
  }

  & > .darkBg2 {
    display: none;
  }

  &:hover {
    & > .darkBg2,
    & > span {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
}
