.fwReview {
  padding: 80px 16px;
}

.custom-controls {
  width: 100%;
  display: flex;

  li {
    //position: absolute;
    z-index: 5;
    bottom: -90px;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%, 0);
    list-style: none;

    &:first-child {
      left: 0;
      right: unset;
    }

    &:last-child {
      right: 0;
      transform: rotate(180deg);
      left: unset;
    }
  }
}