.fwReview {
  padding: 80px 16px;
}

.custom-controls {
  width: 100%;
  position: relative;
  top: 120px;

  li {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    top: 50%;
    transform: translate(-50%);
    list-style: none;

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

.cReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 70px;
  & p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
}
