.section__title {
  text-transform: uppercase;
  text-align: flex-start;
  color: green;
  font-size: 36px;
  letter-spacing: 4px;
  padding-bottom: 40px;

  font-family: 'Istok Web', sans-serif;
  font-weight: 700;
}
